
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <title>Journi Challenge</title>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>
</head>
<body class="bg-light" ng-app="journiChallenge" ng-controller="journiChallengeController">

    <div class="container">
        <div class="py-5 text-center">
            <h2>Journi challenge</h2>
            <p class="lead">Matías Bustos</p>
        </div>

        <div class="row">
            <div class="col-md-12 order-md-1">
                <h4 class="mb-3">Country dropdown</h4>
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card border-light mb-3 shadow p-3 mb-5 bg-white rounded">
                                <div class="input-group">
                                    <input type="text" name="pattern" id="pattern" ng-model="pattern" ng-change="getCountries(pattern)" class="form-control" />
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary" ng-click="setCard()">Submit</button>
                                    </span>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="countrydata in filterCountry" ng-click="fillTextbox(countrydata)">{{countrydata.name}}</li>
                                </ul>
                                <div ng-hide="!errorsDetected" class="alert alert-danger mt-5" role="alert">
                                    {{ errorMessage }}
                                </div>
                                <div ng-hide="isCountryNotSelected()" class="mt-5">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="card-img-top" ng-src="data:image/png;base64,{{ selectedCountry.flagPng }}" alt="Card image cap">
                                        </div>
                                        <div class="col-md-6">
                                                <h5 class="card-title text-center font-weight-bold">{{ selectedCountry.name }}</h5>
                                            <div class="card-body">
                                                <ul class="list-group">
                                                    <li class="list-group-item">Lattitude: {{ selectedCountry.location.x }}</li>
                                                    <li class="list-group-item">Longitude: {{ selectedCountry.location.y }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/js/libs/jquery/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/js/libs/popper/popper.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/libs/angularjs/angular.min.js}"></script>
    <script th:src="@{/js/libs/angularjs/angular-resource.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
</body>
</html>